<div class="container">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sabise Bağlanarak Hallet!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputEmail1">SABİS - ÖĞRENCİ NUMARANIZ</label>
                    <input type="text" class="form-control" id="otoUsername" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">Ders programınızı elde etmek dışında başka bir amaçla kullanılamaz.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">SABİS -  ŞİFRENİZ</label>
                    <input type="password" class="form-control" id="otoPassword" placeholder="Password">
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Çıkış</button>
              <button id="otomatikguncellebutton" type="button" class="btn btn-primary">Otomatik Çek!</button>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
        <table class="table">
            <thead class="bg-success">
                <tr class="d-flex"><th class="col-2">Saat/Gün <button id="btn_matrisGonder" class="btn btn-danger text-white">Güncelle</button></th><th class="col-2">Pazartesi</th><th class="col-2">Salı</th><th class="col-2">Çarşamba</th><th class="col-2">Perşembe</th><th class="col-2">Cuma<button id="otomatikguncelle" class="btn btn-warning ml-3"  type="button" data-toggle="modal" data-target="#exampleModal">otomatik</button></th></tr>
            </thead>
        </table>
    </div>
          <div class="row" style="margin-top:-18px;height: 500px; overflow: auto">
        <table class="table">
            <tbody id="tableMatris">
                <%for(let i=0; i<16; i++){%>
                    <tr class='d-flex'><th <div class='col-2 bg-secondary text-light' scope='row'><%= i+7%> :00 </div></th>
                        <% for(var j=0; j<5; j++){

                            var gline="";
                            var gindex ="";
                            if(i==10) gindex='A';
                            else if(i==11) gindex='B';
                            else if(i==12) gindex='C';
                            else if(i==13) gindex='D';
                            else if(i==14) gindex='E';
                            else if(i==15) gindex='F';

                            if(i<10) gline = ""+i +''+ j;
                            else gline =  ""+gindex + j; %>

               <td id='<%="t"+gline%>' class='col-2' ><div class="row">
                 <div id='<%="a"+gline%>' class="col">
                   n<%=j+1%>
                 </div>
                 <div class="col">
                   <input id='<%="b"+gline%>' type='checkbox'></label>

                 </div>
               </div></td>

                <%}%>

                <%}%>
            </tbody>
        </table>
    </div>
</div>
